# Kobo Toolkit
KOBO_TOKEN=1265db28787e295a61a60992ce875d898d33bb75
KOBO_BASE_URL=https://kf.kobotoolbox.org/api/v2

# Database (auto-géré par Render)
DATABASE_URL=sqlite:///./mfwa_mti.db

# CORS
FRONTEND_URL=https://media-trust-eight.vercel.app